@font-face {
  font-family: 'Open Sans';
  src: url('fonts/OpenSans-Regular.ttf')  format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('fonts/OpenSans-Semibold.ttf')  format('truetype');
  font-weight: bold;
}

@font-face{
  font-family: 'Open Sans';
  src: url('fonts/OpenSans-italic.ttf')  format('truetype');
  font-style: italic;
  font-weight: normal;
}

html { 
  background: url(../img/bg-1600-6.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #707070;
}

body {
  font-family: 'Open Sans', Helvetica Neue, Helvetica, sans-serif;
  color: #f5f5f6;
  text-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
}

.name {
  width: 350px;
  font-size: 24pt;
  position: absolute;
  left: 110px;
  top: 80px;
  font-weight: 600;
}

.contain {
  display: inline-block;
  position: relative;
  margin-top: -56px;
  width: 800px;
  left: 110px;
}

.quote {
  width: 450px;
  font-size: 11pt;
  position: relative;
  display: block;
  left: 110px;
  margin: 139px 0 0 0;
  line-height: 20pt;
  font-style: italic;
}

.words {
  font-size: 11pt;
  line-height: 20pt;
  text-align: left;
  position: absolute;
  left: 0px;
  bottom: -123px;
  width: 519px;
  float: left;
}

.life {
  position: relative;
  font-size: 11pt;
  line-height: 20pt;
  text-align: left;
  margin-top: 100px;
  width:200px;
}

.work {
  position: relative;
  font-size: 11pt;
  line-height: 20pt;
  text-align: left;
  bottom: 80px;
  margin-top: 180px;
  width:200px;
}

a {
  text-decoration: none;
  font-weight: 600;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: color 0.5s ease;
  color: rgba(255, 255, 255, 1);
}

a:hover {
  color: rgba(255, 255, 255, 0.5);
}

#left {
  float: left;
  width: 120px;
}

#right {
  float: left;
}

/*table.outer{
  text-align: left;
  margin-top: 15%;
  margin-left:130px;
  margin-right:130px;
}

table.inner{
  width:500px;
  text-align: left;
}*/

td{
  vertical-align:middle;
}